body {
    font-family: rubik, sans-serif;
    color: $text-color;
}

.typography {
    font-family: rubik, sans-serif;
    color: $text-color;
}

.featured__title {
    font-family: "cormorant garamond", serif;
}

.title__products {
    font-family: "cormorant garamond", serif;
}

.title {
    font-family: "cormorant garamond", serif;
}